* {
    font-family: 'Lato', sans-serif;
    color: #FAF5EF;
    margin: 0;
    padding: 0;
}

body {
    background-size: cover;
    background-position: center;
    background-color: #22282A;
}

/* Header */
header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    background: #22282A;
    padding: 10px 20px;
}

header a {
    text-decoration: none;
}

.header-container {
    font-size: 18px;
    margin-left: 0;
}

.header-container a {
    margin: 0 20px;
}

.header-container a:hover {
    color: #C1C2C4;
}

.header-logo {
    margin-right: 40px;
}

.logo-mobile {
    display: none;
}

.header-profile {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 0;
}

.profile-dropdown {
    display: flex;
    align-items: center;
    gap: 10px;
}
/* Header */

/*Body*/
/*Hero Section*/
.hero-section {
    position: relative;
    height: 70vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #22282A, transparent); /* Gradient from bottom to transparent */
}

.hero-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.hero-content {
    position: absolute;
    bottom: 30px;
    left: 10px;
    max-width: 75%;
    padding: 20px;
    margin: 15px 0;
}

.hero-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.button-container {
    position: absolute;
    bottom: 10px;
    left: 30px;
}

.button-container button {
    padding: 10px 15px;
    border-radius: 24px;
    margin: 0 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.button-mulai button{
    background: #0586FF;
    margin-left: 0;
}

.button-selengkapnya button{
    background: #3D4142;
}

.age-rating {
    border-radius: 20px;
    border: 1px solid #C1C2C4;
    padding: 10px 10px;
    font-size: 14px;
    color: #C1C2C4;

}

.button-mute {
    border-radius: 50%;
    border: 1px solid #C1C2C4;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
/*Hero Section*/

/*Main Content*/


/*Body*/



@media screen and (max-width: 768px) {
    /*Header*/
    header {
        padding: 0 20px;
    }

    .header-container {
        margin-left: 0;
        font-size: 14px;
    }
    .header-container a {
        margin: 0 10px;
    }

    .header-logo {
        margin-right: 20px;
    }

    .logo {
        display: none;
    }

    .logo-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: auto;
    }

    .logo-mobile img {
        width: 100%;
        height: auto;
    }
    /*Header*/

    /*Body*/
    /*Hero Section*/
    .hero-content {
        position: absolute;
        bottom: 60px;
        left: 10px;
        max-width: 75%;
        padding: 20px;
        margin: 10px 0;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .hero-title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
        overflow: hidden;
        text-wrap: nowrap;
        text-overflow: ellipsis;
    }

    .button-container {
        position: absolute;
        bottom: 40px;
        left: 30px;
    }

    .button-mute {
        bottom: 40px;
        right: 20px;
    }
    /*Hero Section*/
    /*body*/
    
}